<a href="https://colab.research.google.com/github/JulianaAiolfi/Estudando_Analise_de_dados-Python/blob/main/Notebook_Exerc%C3%ADcios/Aula03_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dados = pd.read_csv('world_happiness_report_2015.csv')

##01. Verifique o cabeçalho e o final do dataframe.

In [ ]:
dados.head()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [ ]:
dados.tail()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
159,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
160,Benin,Sub-Saharan Africa,155,3.340,NaN,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,NaN
161,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
162,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,NaN
163,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,NaN

##02. Quais as colunas desse dataframe?

In [ ]:
dados.columns

Index(['country', 'region', 'happiness rank', 'happiness score',
       'standard error', 'economy (GDP per Capita)', 'family',
       'health (Life Expectancy)', 'freedom', 'trust (Government Corruption)',
       'generosity', 'dystopia residual'],
      dtype='object')

##03. Quais os tipos de dados temos no dataframe?

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            164 non-null    object
 1   region             164 non-null    object
 2   rank_felicidade    164 non-null    int64
 3   score_felicidade   156 non-null    float64
 4   stand_error        163 non-null    float64
 5   PIB                164 non-null    float64
 6   family             164 non-null    float64
 7   expect_vida        164 non-null    float64
 8   freedom            164 non-null    float64
 9   corrupcao          164 non-null    float64
 10  generosity         164 non-null    float64
 11  dystopia residual  150 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 15.5+ KB

##04. Há valores faltantes ou nulos? Em quais colunas?

In [ ]:
dados.isna().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   8
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

##05. Renomeie as variáveis colunas

In [ ]:
dados.rename(columns={'happiness rank': 'rank_felicidade',
                      'happiness score': 'score_felicidade',
                      'standard error': 'stand_error',
                      'economy (GDP per Capita)': 'PIB',
                      'health (Life Expectancy)': 'expect_vida',
                      'trust (Government Corruption)': 'corrupcao',}, inplace = True)

##05. Quais os valores médios de expect_vida? E o valor mediano? E o máximo da variável PIB?

In [ ]:
#Quais os valores médios de expect_vida? E o valor mediano? E o máximo da variável PIB?

##06. Selecione apenas os dados de country, region, family e freedom (usando loc)

In [ ]:

dados.loc[0:5,['country','region','family','freedom']]

       country          region   family  freedom
0  Switzerland  Western Europe  1.34951  0.66557
1      Iceland  Western Europe  1.40223  0.62877
2      Denmark  Western Europe  1.36058  0.64938
3       Norway  Western Europe  1.33095  0.66973
4       Canada   North America  1.32261  0.63297
5      Finland  Western Europe  1.31826  0.64169

##06. Selecione apenas os dados de country, region, family e freedom (usando iloc)

In [ ]:
dados.iloc[:, [0,1,6,8]]

         country                           region   family  freedom
0    Switzerland                   Western Europe  1.34951  0.66557
1        Iceland                   Western Europe  1.40223  0.62877
2        Denmark                   Western Europe  1.36058  0.64938
3         Norway                   Western Europe  1.33095  0.66973
4         Canada                    North America  1.32261  0.63297
..           ...                              ...      ...      ...
159       Rwanda               Sub-Saharan Africa  0.77370  0.59201
160        Benin               Sub-Saharan Africa  0.35386  0.48450
161        Syria  Middle East and Northern Africa  0.47489  0.15684
162      Burundi               Sub-Saharan Africa  0.41587  0.11850
163         Togo               Sub-Saharan Africa  0.13995  0.36453

[164 rows x 4 columns]

##07. Selecione apenas as primeiras 15 linhas de country e PIB (usando loc)

In [ ]:
dados.loc[0:15,['country','PIB']]

        country      PIB
0   Switzerland  1.39651
1       Iceland  1.30232
2       Denmark  1.32548
3        Norway  1.45900
4        Canada  1.32629
5       Finland  1.29025
6   Netherlands  1.32944
7        Sweden  1.33171
8   New Zealand  1.25018
9     Australia  1.33358
10       Israel  1.22857
11       Canada  1.32629
12      Finland  1.29025
13  Netherlands  1.32944
14       Sweden  1.33171
15   Costa Rica  0.95578

##08. Selecione apenas as primeiras 15 linhas de country e PIB (usando iloc)

In [ ]:
dados.iloc[:15, [0,5]]

        country      PIB
0   Switzerland  1.39651
1       Iceland  1.30232
2       Denmark  1.32548
3        Norway  1.45900
4        Canada  1.32629
5       Finland  1.29025
6   Netherlands  1.32944
7        Sweden  1.33171
8   New Zealand  1.25018
9     Australia  1.33358
10       Israel  1.22857
11       Canada  1.32629
12      Finland  1.29025
13  Netherlands  1.32944
14       Sweden  1.33171

##09. Selecione apenas os dados cujo score_felicidade seja maior que 5.

In [ ]:
dados.loc[dados.score_felicidade > 5].head()

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

##10. Selecione apenas os dados que sejam da Southern Asia.

In [ ]:
dados.loc[dados.region == 'Southern Asia']

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
84,Bhutan,Southern Asia,79,5.253,0.03225,0.77042,1.10395,0.57407,0.53206,0.15445,0.47998,1.63794
86,Pakistan,Southern Asia,81,5.194,0.03726,0.59543,0.41411,0.51466,0.12102,0.10464,0.33671,3.10709
114,Bangladesh,Southern Asia,109,4.694,0.03077,0.39753,0.43106,0.60164,0.40820,0.12569,0.21222,NaN
122,India,Southern Asia,117,4.565,0.02043,0.64499,0.38174,0.51529,0.39786,0.08492,0.26475,2.27513
126,Nepal,Southern Asia,121,4.514,0.03607,0.35997,0.86449,0.56874,0.38282,0.05907,0.32296,1.95637
137,Sri Lanka,Southern Asia,132,4.271,0.03751,0.83524,1.01905,0.70806,0.53726,0.09179,0.40828,0.67108
158,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210